.StyledHeader {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
  position: fixed;
  width: 100%;
  z-index: 100;
  background: white;
  top: 0;
  height: 5rem; /* Definindo a altura do header */
}

.StyledHeader nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%; /* Mantendo a altura do header */
}

.StyledHeader .logo {
  border: none;
  display: flex;
  align-items: center;
  text-decoration: none;
}

.StyledHeader .logo-card {
  width: 80px;  /* Reduzindo o tamanho do Card */
  height: 80px; /* Reduzindo a altura do Card */
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden; /* Garantindo que a logo não passe o limite */
}

.StyledHeader .logo-image {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ajustando a imagem para caber dentro do Card */
}

.StyledHeader .login-header {
  color: #333;
  text-decoration: none;
}

.StyledHeader .login-header::after {
  content: '';
  display: inline-block;
  width: 14px;
  height: 17px;
  background: url('../../Assets/usuario.svg') no-repeat center center;
  margin-left: 0.5rem;
  position: relative;
  top: -1px;
}
